* {
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

#search_box {
  width: 17.5%;
  border: 2px solid black;
  margin: 20px;
  padding: 20px 30px;
}

.nasa_img {
  width: 400px;
  height: 400px;
}

#picture_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img_container {
  position: relative;
  margin-right: 5px;
  margin-bottom: 5px;
}

.img_caption {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 1px;
  background: rgba(0, 0, 0, 0.625);
  opacity: 0;
  transition: all 300ms ease-in-out;
  overflow: scroll;
  /* we shouldnt need this!! should not overflow horizontally (but vertical is ok)
  */
}

/* fix the fact that the caption on hover goes 1px over the bottom of the image
(caption area is slightly larger vertically than the container its in)
*/

.img_caption p {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 39%;
  padding-right: 10px;
  padding-left: 10px;
}

/* also fix problem with 8th caption for 'milky way' where it 
  cuts off part of the text (b/c of absolute positioning?? idk. every other
  caption makes line breaks automatically where necessary
*/
